.slider-content {
  padding-top: 154px;
  padding-bottom: 170px;
  position: relative;
  @media screen and(min-width:768px) {
    padding-right: 74px;
    padding-left: 74px;
    padding-top: 279px;
    padding-bottom: 197px;
  }
}
.slider-collage {
  position: absolute;
  top: -44px;
  @media screen and(min-width:768px) {
    width: 621px;
    height: auto;
    top: -95px;
  }
}
.slider-client-image {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 29px;

  border-radius: 50%;
  overflow: hidden;
  @media screen and(min-width:768px) {
    margin-bottom: 19px;
  }
}
.slider-comment {
  position: relative;
  padding-top: 43px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;

  background-color: #fafafa;
  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 28px;
    left: 61px;
    display: block;
    width: 54px;
    height: 40px;
    background-image: url(./../images/quotes.svg);
  }
  @media screen and(min-width:768px) {
    display: none;
  }
}
.slider-comment-tablet {
  display: none;
  position: relative;
  padding-top: 47px;
  padding-bottom: 28px;

  background-color: #fafafa;
  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 28px;
    left: 61px;
    display: block;
    width: 54px;
    height: 40px;
    background-image: url(./../images/quotes.svg);
    @media screen and(min-width:768px) {
      top: 30px;
      left: 40px;
    }
  }

  @media screen and(min-width:768px) {
    display: block;
  }
}
.slider-comment-content {
  position: relative;
  font-weight: 500;
  z-index: 99;
  display: block;
  font-size: 12px;
  line-height: 2.258;
  text-align: center;
  @media screen and(min-width:768px) {
    padding-right: 34px;
    padding-left: 60px;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.04em;
  }
}
.slider-comment-underline {
  display: block;
  border-bottom: 1px solid #e1e1e1;
  @media screen and(min-width:768px) {
    padding-right: 44px;
    padding-left: 20px;
  }
}
.slider-slaid {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;

  display: flex;
  justify-content: space-between;
  width: 32px;
  height: 4px;
}
.slider-slaid-tot {
  width: 4px;
  height: 4px;

  background-color: #c7133e;
  border-radius: 50%;
}
.slider-client-name {
  font-size: 14px;
  line-height: 1.857;
  text-align: center;
  @media screen and(min-width:768px) {
    font-size: 16px;
    line-height: 1.875;
  }
}
.slider-slaid-image {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  width: 72px;
}
.slider-slaid-image-dot {
  width: 12px;
  height: 12px;

  background: #d9d9d9;
  border-radius: 50%;
}
.slaid-image-dot-home {
  background-image: url(./../images/home.svg);
  border-radius: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}
.slider-hidden {
  display: none;
}

.slider-slick .slick-dots {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 0;
  width: 72px;
}
.slick-dots button {
  width: 12px;
  height: 12px;
  border: 0;
  border-radius: 50%;
  background-color: #d9d9d9;
  outline: 0;
  overflow: hidden;
  &:hover {
    //   background-color: #9b9797;
    transform: scale(1.4);
  }
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
.slick-active button {
  background-image: url(./../images/home.svg);
  border-radius: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}
