.tradition {
  padding-top: 125px;
  padding-bottom: 145px;

  background-color: $second-bg-color;
  background-repeat: no-repeat;
  background-position: top 766px right 0px;
  background-size: contain;

  @media screen and (max-width: 767px) {
    background-image: url(../images/1-mobile/traditionbg.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/1-mobile/traditionbg@2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 246px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 310px;
    background-image: url(../images/3-desktop/traditionbg.png);
    background-position: top 342px right 0px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/3-desktop/traditionbg@2x.png);
    }
  }
}

.tradition-conteiner {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 66px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 39px;
  }
}

.tradition-title {
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: $second-title-color;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.tradition-question {
  font-family: Titan One;
  margin-bottom: 25px;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;

    font-size: 48px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 55px;

    font-size: 58px;
    line-height: 1.14;
  }
}

.tradition-text-conteiner {
  @media screen and (min-width: 768px) {
    padding-top: 50px;
  }
}

.tradition-img {
  margin-bottom: 45px;

  @media screen and (min-width: 768px) {
    margin-right: 17px;
    margin-bottom: 0;
    width: 340px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 74px;
    width: 516px;
  }
}

.tradition-text {
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 30px;

  font-size: 12px;
  line-height: 1.6;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    padding: 0;
    margin-bottom: 28px;
    max-width: 340px;
    font-size: 14px;
    line-height: 1.8;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 35px;
    max-width: 463px;
    font-size: 16px;
    line-height: 1.75;
  }
}

.tradition-secondary-text {
  margin-bottom: 20px;
  color: $second-text-color;

  @media screen and (min-width: 768px) {
    max-width: 340px;
    margin-bottom: 62px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 463px;
    font-size: 16px;
    line-height: 1.75;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
  }
}

.tradition-text-part {
  display: block;
  padding-top: 10px;

  @media screen and (min-width: 1280px) {
    padding-top: 25px;
  }
}

.tradition-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 50px;
  width: 176px;
  height: 44px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  color: $button-bg-2;
  background-color: $button-bg-1;
  border-radius: 22px;
  border: none;

  &:hover,
  &:focus {
    background-color: $button-hover-1;
  }

  @media screen and (min-width: 768px) {
    margin-left: 0;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.31;
  }
}

.tradition-btn-span {
  margin-left: 14px;
  max-width: 5px;
}

.tradition-btn-svg {
  stroke: $button-bg-2;
}

.tradition-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.tradition-item:not(:last-child) {
  margin-bottom: 38px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 60px;
  }
}

.tradition-item-img {
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.tradition-data {
  display: block;
  padding-bottom: 15px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $button-bg-2;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
  }
}

.tradition-list-text {
  max-width: 230px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;

  @media screen and (min-width: 768px) {
    max-width: 180px;
    font-size: 14px;
    line-height: 1.71;
  }

  @media screen and (min-width: 1280px) {
    max-width: 330px;
    font-size: 16px;
    line-height: 1.75;

    letter-spacing: 0.02em;
  }
}
